
<br><br>
<div class="jumbotron jumbotron-sm">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-lg-12">
              <h1 class="h1">
               Feel free to contact us!</h1>
          </div>
      </div>
  </div>
</div>
  <div class="row row-mar">
      <div class="col-md-5">
          <div class="well well-sm">
              <form>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="name">
                              Name</label>
                          <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                      </div>
                      <div class="form-group">
                          <label for="email">
                              Email Address</label>
                          <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                              </span>
                              <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                      </div>
                      <div class="form-group">
                          <label for="subject">
                              Subject</label>
                          <select id="subject" name="subject" class="form-control" required="required">
                              <option value="na" selected="">Choose One:</option>
                              <option value="service">General Customer Service</option>
                              <option value="suggestions">Suggestions</option>
                              <option value="product">Product Support</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="name">
                              Message</label>
                          <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                              placeholder="Message"></textarea>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                          Send Message</button>
                  </div>
              </div>
              </form>
          </div>
      </div>
      <div class="col-md-3">
          <form>
          <legend><span class="glyphicon glyphicon-globe" style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Our Outlet</b></span> </legend>
          <address>
            <br>
            <p style="text-align: center-left;">
              West Road, Opp BMW <br><br>Showroom,  Trinity Square
              </p>
             
              <p style="text-align: center-left;">Los Angeles, 34567.
            </p>
            <br>
            <p style="text-align: center-left;">
              <i class="fa fa-mobile" aria-hidden="true" ></i>  :   +91 9773944568</p>
          </address>
              <strong>Or write to us at..</strong>
              <br>
              <br>
              <a href="mailto:#">sweet.and.treats@gmail.com</a>
          </form>
      </div>
      <div class="mapouter col">
        <div class="gmap_canvas">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11742.009226048262!2d78.45043610535014!3d17.417768816072677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9748c3562c1d%3A0x963e18e37684319f!2sBMW%20KUN%20Exclusive%20%7C%20Hyderabad!5e0!3m2!1sen!2sin!4v1631596185996!5m2!1sen!2sin" 
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          
          
          <style>
            .gmap_canvas {
              overflow: hidden;
              background: none !important;
              height: 316px;
              width: 398px;
            }
          </style>
        </div>
      </div>
  </div>

