<br><br>
<div  class="border border-10" class="background1">
  <div class="col-xl-12 order-xl-1" >
   
   <br><br><br>
   <div class="text-center" >
   <h1 class="a" >About Us</h1>
  </div>
  <br><br><br>
    </div>
    </div>

    <div  class="border border-10" class="background2">
      <div class="col-xl-12 order-xl-1" >
       <br><br><br>

       <div class="span4" >
        <img style="float:left" src="../../assets/chocolateladdu.png" alt="laddu"   height="400px" width="40%" >

       <div class="content-heading"><h1 class="a1"> &nbsp; &nbsp; The Taste of Bond </h1></div><br><br>
       <p> &nbsp; &nbsp; &nbsp; &nbsp; Serving our customers has always been our only dream. We are passionate <br><br> 
        &nbsp; &nbsp; &nbsp; &nbsp; about making lip- smacking delicious food with one sole aim- to cook and <br><br>
        &nbsp; &nbsp; &nbsp; &nbsp;serve with honesty from the heart.Sweets And Treats Sweets has always <br><br>
        &nbsp; &nbsp; &nbsp; &nbsp; been famous for its unparalleled quality and we hope to revolutionise serving <br><br> 
        &nbsp; &nbsp; &nbsp; &nbsp; flavoursome food with the highest standards of quality and hygiene in the food <br><br>
        &nbsp; &nbsp; &nbsp; &nbsp; industry across the Globe! For us, our purpose goes beyond food. It is about  <br><br>
        &nbsp; &nbsp; &nbsp; &nbsp; the relationship we build with every one of our customers! Which is why, our  <br><br>
        &nbsp; &nbsp; &nbsp;&nbsp; tagline is- ‘The Taste of Bond’.</p>
       </div>
     <br><br><br><br><br><br>
     <div class="span4" >
      <img style="float:right" src="../../assets/motichoor laddu.jpg" alt="laddu"   height="500px" width="40%" >

     <div class="content-heading"><h1 class="a1">   Attention to detail &nbsp; &nbsp; &nbsp;</h1></div><br><br>
     <p> We, at Sweets And Treats, have always maintained an exceptional grade of &nbsp; &nbsp; &nbsp; &nbsp;<br><br> 
       quality by combining the latest technologies with food. To consistently &nbsp; &nbsp; &nbsp; &nbsp;<br><br>
      innovate, experiment, create and stay updated, we believe, is integral to  &nbsp; &nbsp; &nbsp; &nbsp;<br><br>
       grow and stay relevant to the ever-changing trends and tastes of the  &nbsp; &nbsp; &nbsp; &nbsp; <br><br> 
       customers. Food, after all, is the science of creating new flavours to entice  &nbsp; &nbsp; &nbsp; &nbsp;<br><br>
       the palate! And that is why we pride ourselves in equipping our kitchens with  &nbsp; &nbsp; &nbsp; &nbsp;<br><br>
       state of the art machinery and hiring the best in the industry to hand-make  &nbsp; &nbsp; &nbsp; &nbsp; <br><br>
       our heirloom recipes and concoct new mouth-watering delicacies! So with &nbsp; &nbsp; &nbsp;&nbsp;<br><br>
       every bite of a Bombay Sweets delicacy, you can be guaranteed incomparable&nbsp; &nbsp; &nbsp;&nbsp;<br><br>
     quality and innovation of flavour behind its creation!&nbsp; &nbsp; &nbsp;&nbsp;</p>
     </div>
      
      <br><br><br><br><br><br><br><br>
        </div>
        </div>
        































