<br><br>




<div class="row" >
  <ngb-carousel>
     
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        
        <img src="../../assets/banner sweet 4.jpg" alt="Random third slide"  height="500px"  width="100%">
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/banner sweet 1.jpg" alt="Random fourth slide"  height="500px" width="100%">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" >
       <img src="../../assets/banner sweet 2.jpg"  alt="Random first slide" height="500px" width="100%" >
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" class= "col-md-15">
        <img src="../../assets/banner sweet 3.jpg" alt="Random second slide"  height="500px" width="100%">
      </div>
    </ng-template>
 
  </ngb-carousel>
</div>

<br>
<br>


<div class="container"  >
  <div class= "card  card-transparent">
   

    <div class="col-xl-12 order-xl-1" >
      <br>
      <br>
       <div class="text-center">
       <h1 class="font-weight-bolder">Experience your own  Delectable Sweets at Sweets And Treats </h1>
        <br>
        <p>A touch of goodness is added to each bite as we are preparing our special sweets with <br><br>
          abundant love. Our main aim is to offer our customers with freshness and authenticity <br><br>
          of Indian snacks and sweets that come along with the exclusivity.</p>
      </div>
      <br>
      <br>
      <img src="../../assets/line border.png" alt="Random fourth slide"  height="200px" width="100%">
<br><br>

       
  </div>
</div>

  <br>
<br>

<div class="container"  >
  <div class= "card  card-transparent">
  

      <br>
      <br>
       <div class="text-center">
       <h1  class="font-weight-bold">Completing your celebration </h1>
        <br>
        <p style="color:orangered">Our brand is offering a wide variety of Indian sweets bringing a dash <br><br>
           of delight and making each event and celebration grand!</p>
           <br>
           <br>
           <p> Get your hands on our celebratory packages and sweet boxes, served to you with a gist<br><br> of luxury.</p>
      </div>
      <br>
      <br>

      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/chocolateladdu.png" alt="Random fourth slide"   height="500px" width="100%" class="rounded-circle">
            <br><br>
           <div class="text-center">
           <h1><b>Chocolate Laddu </b></h1>
           <button class="btn btn-primary" (click) ="navigateToLogin()">Add to Cart</button>
           </div>
           <br>
           <br>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" >
           <img src="../../assets/motichoor laddu.jpg"  alt="Random first slide" height="500px" width="100%" class="rounded-circle">
           <br><br>
           <div class="text-center">
           <h1><b>Motichoor Laddu</b></h1>
           <button class="btn btn-primary" (click) ="navigateToLogin()">Add to Cart</button>
           </div>
           <br>
           <br>
          </div>
        </ng-template>
  
      </ngb-carousel>

    
  </div>
  </div>













